*{
  margin: 0px;
}
  
body{
  background-color: #26667f;
  background: linear-gradient(to bottom, #26667f, #6ba4ba);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
}

a {
  text-decoration: none;
  color: inherit;
}

#box1{
  display: flex;
  align-items: center;
  justify-content: center;
}

#loginBox{
  margin-top: 10vh;
  border-radius: 40px;
  border: 1px solid #67c090;
  background-color: #67c090;
  height: 65vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.3);
}

#geoFinder{
  font-family: "lilita one";
  color: #26667f;
  margin-top: 5vh;
  margin-bottom: 15vh;
}

#logo{
  height: 20vh;
  width: 20vh;
}

.userInput{
  font-family: "lilita one";
  border: 2px solid #286847;
  border-radius: 15px;
  height: 5vh;
  width: 35vh;
  margin-bottom: 3vh;
  background-color: #d9f9e8;
  color: #26667f;
  text-indent: 5px;
}

.userInput::placeholder{
  font-family: "lilita one";
  color: #26667f;
}

#loginBtn{
  height: 5vh;
  width: 20vh;
  border-radius: 20px;
  background-color: #26667f;
  border: 1px solid #112f3b;
  font-family: "lilita one";
  color: #d9f9e8;
}

#loginBtn:active{
  background-color: #1b4657;
}

/*Home*/

.infoText{
  font-family: "lilita one";
  color: #26667f;
  font-size: 3vh;
}

#upper{
  border: 0px solid white;
  display: flex;
}

#geoFinder2{
  font-family: "lilita one";
  color: #67c090;
  font-size: 5vh;
}

#searchBar{
  margin-left: 45vh;
  background-color: #d9f9e8;
  border: 2px solid #38a96c;
  border-radius: 2px;
  font-family: "lilita one";
  width: 30vh;
  text-indent: 5px;
}

.upperBtn{
  background-color: #67c090;
  border: 1px solid #67c090;
  border-radius: 2px;
  font-family: "lilita one";
  color: #d9f9e8;
}

.upperBtn:active{
  background-color: #4a8a68;
  border: 1px solid #4a8a68;
}

#lower{
  margin-top: 5vh;
  border: 0px solid white;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#info{
  border: 0px solid red;
  flex: 1
}

#info-box1{
  margin-top: 2vh;
  background-color: #67c090;
  border: 1px solid #67c090;
  border-radius: 20px;
  height: 10vh;
  width: 50vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-indent: 20px;
  box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.3);
}

#info-box2{
  margin-top: 2vh;
  background-color: #67c090;
  border: 1px solid #67c090;
  border-radius: 20px;
  height: 35vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-indent: 20px;
  gap: 1vh;
  box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.3);
}

#info-box3{
  margin-top: 2vh;
  background-color: #67c090;
  border: 1px solid #67c090;
  border-radius: 20px;
  height: 10vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-indent: 20px;
  box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.3);
}

#history{
  border: 0px solid blue;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#history-box1{
  margin-top: 2vh;
  background-color: #67c090;
  border: 1px solid #67c090;
  border-radius: 20px;
  height: 60vh;
  width: 50vh;
  text-indent: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.3);
}

#history-box2{
  margin-top: 2vh;
  background-color: #d9f9e8;
  border: 1px solid #d9f9e8;
  border-radius: 20px;
  height: 50vh;
  width: 45vh;
  text-indent: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-right: 5px;
  box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.3);
}

/*History Tab*/

#history-tab-box{
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
}

#htIp{
  font-family: "lilita one";
}

#htMain{
  width: 25vh;
  border: 0px solid rgb(145, 145, 145);
  background-color: rgb(145, 145, 145);
}

#recover{
  background-color: rgb(93, 251, 93);
  border-color: rgb(93, 251, 93);;
}

#recover:active{
  background-color: rgb(71, 195, 71);
}


#delete{
  background-color: #ab0202;
  border-color: #ab0202;
}

#delete:active{
  background-color: #6f0202;
}